@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.logo-style{
    width: 100px;
}
.search{
    margin-left:20px ;
    width: 508.94px;
height: 48px;
margin-right: 26px;
background: #F1F1F1;
}
.navigation{
    margin-right: 156px;
}

.navigation a{
    margin-left: 10px;
}
.search-icon{
    margin-left:-30px ;
    top: 16px;
    right: 13px;
    position: relative;
    color: #BABABA;
}

/* ================
carousel
==================== */
.main-section-1{
background-color: #FEEAE9;

}

.btn-style{
   background-color: #FF2278;
   color: #fff;
}

.h1{
    font-size: 35px;
    font-weight: bold;
}
.p{
    color: #4E4E4E;
}
.price{
    color: #FF2278;
    font-weight: 700;
}
.color-1{
    background-color: #FFA82F;
}
.color-2{
    background-color:#FF3081;
}
.color-3{
    background-color: #414DFC;
}

/* .padding-control{
box-sizing: border-box;
} */

.main-section-2{
    background-color: #F4F4F4;
}



.card-size{
    width: 360px;
height: 501px;
}

.card-size-2{
    width: 360px;
height: 584px;
}



.fotter{
margin-top:71px ;
background-color:#FFF2F1 ;
width: 1212px;
height: 455px;
display: flex;
justify-content: center;
align-items: center;
}
.search-button{
    background-color: #FF2278;
    color: #fff;
    border: none;
}

.input-email{
    width: 683px;
    height: 73px;

}

@media only screen and (max-width:376px) {

.nav{
    align-items: center;
}
 .logo-style{
    width: 70px;
    margin-top: 9px;
   
}
.navbar-toggler{
    margin-left: 16px;
}
.search{
    
    width:150px;
height:25px;
margin-right:20px;
background-color: red;


}
.search-icon{
    margin-left:-25px ;
    top: 4px;
    right: 13px;
    position: relative;
    
}
.navigation {
    margin-right: 25px;
}
.head-phone{
    margin-top: 20px;
}
.tv{
    margin-top: 20px; 
}
.x-box{
    margin-top:-10px;
}
.main-section-1 h2{
    text-align: center;

}
.top-margin{
    margin-top: 10px;
}
.img-size{
    width: 120px;
    height: 120px;
}

.main-section-2 h2{
text-align: center;
}

 /* .main-section-2{
    height: 3272px;
    width: 100%;
}  */

 .fotter{
    width: 100%;
    height:280px;
    
} 

.input-email {
    width: 270px;
    height: 60px;
}
.card-size{
    width:92%;
height: 480px;
margin-top: 10px;

}

.card-size-2{
    width:88%;
height: 550px;
margin-top: 10px;
}
.width-setting{
    margin-left: -13px;
}

}